/* Mobile media query  */
@media only screen and (max-width: 640px) {
  .textOperations {
    padding: 18px;
  }
  .descritionsTable {
    display: none;
  }
  .tableOperations {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  .category {
    text-align: left;
  }
  .calendar {
    display: none;
  }
  .amount {
    margin: 28px;
    padding-top: 20px;
    position: absolute;
    left: 20px;
  }
}
